/* Remove the default margin and padding from the body. */
body {
  padding: 10px;
  margin: 0;
}

/* Set map, body, and html to 100% of the screen size. */
#map,
html {
  height: 95vh;
  width: 100%;
}
body,
h1 {
  text-align: center;
}

