/* Remove the default margin and padding from the body. */


/* Adjust the width of the left and right boxes */
#leftbox {
  float: left;
  width: 50%;
  height: 650px;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Align content horizontally to the center */
  align-items: center; /* Align content vertically to the center */
}

#rightbox {
  float: right;
  width: 50%;
  height: 650px;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Align content horizontally to the center */
  align-items: center; /* Align content vertically to the center */
}

/* Adjust the size of the map container */
#map{
  height: 600px; 
  width: 90%; /* Adjust the width of the map container */
  border-style: solid;
}

/* Adjust the size of the chart containers */
#myChart,
#myChart2 {
  width: 90%; /* Adjust the width of the chart containers */
  height: 300px; /* Adjust the height of the chart containers */
  margin-bottom: 20px; /* Add margin between the charts */
}


h1 {
  color: #152450; /* Text color */
  font-size: 48px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  text-align: center; /* Text alignment */
}
h2 {
  color: #333; /* Text color */
  font-size: 36px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  text-align: center; /* Text alignment */
}
h3 {
  color: #333; /* Text color */
  font-size: 24px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  text-align: center; /* Text alignment */
}
h4 {
  color: #152450; /* Text color */
  font-size: 48px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  text-align: center; /* Text alignment */
}
/* CSS styles for p element */
p {
  color: #333; /* Text color */
  font-size: 24px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  text-align: center; /* Text alignment */
  line-height: 1.5; /* Line height */
}

.container {
display: flex; /* Use flexbox layout */
justify-content: center; /* Align items horizontally to the center */
}

label {
padding: 5px; /* Adjust padding as needed */
font-size: 16px; /* Font size */
font-family: "Julius Sans One", sans-serif; /* Font family */
color: #333; /* Text color */
}

/* CSS styles for select elements */
select {
padding: 10px; /* Adjust padding as needed */
font-size: 16px; /* Font size */
font-family: "Julius Sans One", sans-serif; /* Font family */
border: 1px solid #ccc; /* Border */
border-radius: 5px; /* Border radius */
background-color: #fff; /* Background color */
color: #333; /* Text color */
width: auto; /* Width of the select element */
margin: 0 10px; /* Add space between selects */
}

/* Style select element when hovered */
select:hover {
border-color: #999; /* Change border color on hover */
}

/* Style select element when focused */
select:focus {
outline: none; /* Remove default focus outline */
border-color: #555; /* Change border color when focused */
}
.button-container {
padding: 10px;  
text-align: center;
}

/* Default styles for links */
a {
  font-weight: bold; /* Make the links bold */
  font-size: 24px; /* Font size */
  font-family: "Julius Sans One", sans-serif; /* Font family */
  color: navy; /* Set the initial color to blue */
  text-decoration: none; /* Remove underline */
}
.center {
  text-align: center;
}
/* Styles for links when hovered */
a:hover {
  text-decoration: underline; /* Underline the links on hover */
}

/* Styles for links when clicked */
a:active,
a:focus {
  font-style: italic; /* Make the links italic */
  color: rgb(119, 0, 0); /* Set the color to red when clicked */
}


