<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Leaflet CSS (needed) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

    <!-- Leaflet JavaScript code (needed) -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- using jinja templating to link our CSS (style.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- using jinja templating to read in plots.js -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

    <!-- Include your JavaScript file -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            background-image: url('../static/css/visualsbackground.png');
            background-size: cover;
            background-position: center;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
    </style>
    
</head>
<body>

    <h1>Backend </h1>
    <br>
    <h2>Files:</h2>
    <h3>plot.js - JavaScript file for visuals</h3>
    <h3>app.py - Python file that runs flask and creates DB using SQLite</h3>
    <h3>home.html - HTML file to establish Home page</h3>
    <h3>index.html - HTML file to establish visualization page</h3>
    <h3>backend.html - HTML file to establish backend page</h3>
    <h3>data.db - SQLite database</h3>
    <h3>style.css - Global style page to establish fonts, backgrounds, dropdowns, etc.</h3>
    <img src="../static/css/style image1.png" alt="HTML5 Icon" class = "center" style="position:center;width:500px;height:500px;">
    <img src="../static/css/style image2.png" alt="HTML5 Icon" class = "center" style="position:center;width:500px;height:500px;">
    
    <br>
    <h2>Libraries Used:</h2>
    <h3>Leaflet - Used to create map visualization</h3>
    <h3>Chart.js - Used to create scatter plot and bar graph visualizations</h3>
    <h3>Flask - Used to establish webpage and various routes</h3>
    <h3>Jinja - Template engine for Flask; Used to link JavaScript, Python, and Database to help create webpage</h3>
    <h3>SQLite- Used to create database</h3>

    <br>

    <!-- Link back to the home page -->
    <div class="center">
        <a href="/">Back to Home Page</a>
    </div>

</body>

</html>
