<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Leaflet CSS (needed) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

    <!-- Leaflet JavaScript code (needed) -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <!-- using jinja templating to link our CSS (style.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- using jinja templating to read in plots.js -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

    <!-- Include your JavaScript file -->
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            background-image: url('../static/css/background.png');
            background-size: cover;
            background-position: center;
        }
    </style>
    
</head>
<body>

    <h1>Airbnb Rentals for 10 Major European Cities </h1>
    <h2>Project Description:</h2>
    <h3> For this project we will be analyzing Airbnb data in some of the most popular European cities(Amsterdam, Athens, Barcelona, Berlin, Budapest, Lisbon, London, Paris, Rome, & Vienna). The data includes columns for various attributes such as nightly price, room types, cleanliness ratings and satisfaction ratings, bedrooms, distance from the city center, and more to capture an in-depth understanding of Airbnb prices on weekdays vs weekends in the provided European cities.</h3>
    <br>
    <h2>Routes:</h2>
    <h3><a href="/visuals">Airbnb Visuals</a></h3>
    <h3><a href="/data">Raw Data Page</a></h3>

    <br>
    <h2>Data Source:</h2>
    <h3>Airbnb Prices in European Cities (https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities/data?select=amsterdam_weekends.csv)</h3>
    <br>
    <h2>Project Members:</h2>
    <h3> Steven Carrasquillo,Mitchell Fairgrieve, Matthew Lopez</h3>
</body>

</html>
